<footer class="mt-4">
  <div class="xcontainer-fluid">
    <div class="row">
      {{if $.footer }}
      <div class="col-12">
        <div class="d-block xbg-site bg-opacity-25 rounded p-2">
          <div class="form-container rounded" id="details">
            <h3 class="text-center">לפרטים נוספים ותיאום פגישת הכרות</h3>
            <form id="contactForm" method="post" action="/message/send">
              <!-- Top row: name, email, phone -->
              <div class="d-flex flex-column align-items-center flex-md-row flex-wrap gap-2 justify-content-center mb-2">
                <input type="text" class="form-control rounded-pill text-start w-100" name="firstName" placeholder="שם"
                       style="max-width: 230px;" required/>
                <input type="email" class="form-control rounded-pill text-start w-100" name="email" placeholder="אימייל"
                       style="max-width: 230px;" required/>
                <input type="text" class="form-control rounded-pill text-start w-100" name="phone" placeholder="טלפון"
                       style="max-width: 230px;" required/>
              </div>

              <!-- Bottom row: textarea + button -->
              <div class="d-flex flex-column align-items-center flex-md-row gap-2 justify-content-center">
                <textarea name="message" rows="1" class="form-control rounded-pill text-start w-100" placeholder="הודעה"
                          style="min-width: 300px; max-width: 600px;" required></textarea>
                <button type="submit" class="btn btn-dark rounded-pill px-3 xw-100 w-md-auto">שליחה</button>
              </div>
              <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">


              <div class="text-center mt-1">
              </div>
            </form>
          </div>
        </div>
      </div>
      {{end}}
    </div>
    <div class="row mt-4 bg-primary text-light p-4">
      <div class="col-md-3">
        {{range .menus}}
        <a href="/{{.Url}}" class="text-decoration-none">
          <span class="text-start text-light">
            <img src="/public/images/lightBullet.png" class="me-2" width="20px" alt="*" />{{.Title}}&nbsp;</span>
        </a>
        {{end}}
      </div>

      <div class="col-md-5 text-end">
        <a href="{{.params.Facebook}}" rel="noopener noreferrer" target="_blank" class="text-light">
          {{_ "Facebook"}}
          <img src="/public/images/facebook.png" class="logo" alt="facebook" />
        </a>
        <br>
        <a href="https://api.whatsapp.com/send?phone={{.params.Phone}}" rel="noopener noreferrer" target="_blank" class="text-light">
          {{.params.Phone}}
          <img src="/public/images/phone-icon.png" class="logo" alt="phone" />
        </a>
        <br>
        <a href="mailto:{{.params.Email}}" rel="noopener noreferrer" target="_blank" class="text-light">
          {{.params.Email}}
          <img src="/public/images/email.png" class="logo" alt="email" />
        </a>
      </div>
      <div class="col-md-4 text-end mt-4 mb-2">
        <a class="navbar-brand" href="/">
          <img src="/public/images/footer-logo.png" class="logo" alt="לוגו" />
        </a>
      </div>
    </div>
    <div class="hidden row mt-4 bg-primary text-light p-4">

      <div class="col-md-8 text-light d-flex flex-row flex-wrap gap-2">
        {{range .menus}}
        <a href="/{{.Url}}" class="text-decoration-none">
          <span class="text-start text-light">
            <img src="/public/images/lightBullet.png" class="me-2" width="20px" alt="*" />{{.Title}}&nbsp;</span>
        </a>
        {{end}}
      </div>
      <div class="d-md-none mt-4"></div>
      <div class="col-md-4 text-end">
        <a class="navbar-brand" href="/">
          <img src="/public/images/footer-logo.png" class="logo" alt="לוגו" />
        </a>
      <div class="d-md-none mt-2"></div>

        <br>
        <a href="{{.params.Facebook}}" rel="noopener noreferrer" target="_blank" class="text-light">
          {{_ "Facebook"}}
          <img src="/public/images/facebook.png" class="logo" alt="facebook" />
        </a>
        <br>
        <a href="https://api.whatsapp.com/send?phone={{.params.Phone}}" rel="noopener noreferrer" target="_blank" class="text-light">
          {{.params.Phone}}
          <img src="/public/images/phone-icon.png" class="logo" alt="phone" />
        </a>
        <br>
        <a href="mailto:{{.params.Email}}" rel="noopener noreferrer" target="_blank" class="text-light">
          {{.params.Email}}
          <img src="/public/images/email.png" class="logo" alt="email" />
        </a>
      </div>
    </div>
</footer>
