<!DOCTYPE html>
<html dir="rtl" lang="he">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D84PTXJ087"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-D84PTXJ087');
    </script>


    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {{_ .AppName}} - {{.PageDesctiption}}
    </title>

    <meta name="description" content=" {{_ .AppName}} - {{.PageDesctiption}}| {{.params.MainTitle}}, {{.params.SubTitle}}">
    <meta name="keywords" content="{{.keywords}}">


    {{getCssAsset "main.css"}}
    <link rel="canonical" href="{{.canonical}}" />
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.png?ver=0.1.1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "עורכת דין ומגשרת גילי אדר",
            "url": "https://gili-gishurim.com",
            "logo": "https://gili-gishurim.com/public/images/Logo.png",
            "sameAs": [
                "https://www.facebook.com/gili.benshaharadar"
            ]
        }
    </script>

</head>

<body class="main d-flex flex-column h-100  xbg-info xbg-gradient">
<div class="container-fluid">
    <div class="row">
        {{if ne .curr_user.ID 0}}
        <div class="col-md-4 text-md-end mt-3 small-font">
            <form class="d-flex " method="post" action="/logout">
                <span class="text-primary p-2">{{.curr_user.LastName}} {{.curr_user.FirstName}} </span>
                <button class="btn btn-info my-2 my-sm-0" type="submit">{{_ "Logout"}}</button>
                <div class="dropdown ms-2">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {{_ "Admin menu"}}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" type="button"><a href="/admin/params">{{_ "Params"}}</a>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" type="button"><a href="/admin/menus">{{_ "Menus"}}</a>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" type="button"><a href="/admin/main-page">{{_ "Main Page"}}</a>
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" type="button"><a href="/admin/pages">{{_ "Pages"}}</a>
                            </button>
                        </li>
                    </ul>
                </div>

            </form>
        </div>
        {{end}}
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{range .menus}}
                <li class="nav-item"><a class='nav-link {{activeMenu .Url}}' href="/{{.Url}}">{{.Title}}</a></li>
                {{end}}
            </ul>
        </div>
        <a class="navbar-brand" href="/"><img src="/public/images/Logo.png" class="logo" alt="{{.params.MainTitle}}" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>




<div class="container-fluid mt-1 mb-1">
    {{if isNotEmpty .message }}
    {{ $bg := "bg-danger text-light"}}

    {{if isTrue .success }}
    {{ $bg = "bg-info"}}
    {{end}}

    <div class="p-2 mb-2 rounded {{$bg}}" id="sa-Alert">
        {{_ .message}}
    </div>
    {{end}}
    <div class="container">
        {{if .header}}
        {{template "partials/header" .}}
        {{end}}

        {{embed}}
    </div>

    {{template "partials/footer" .}}
    {{getJsAsset "main.js"}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>


</body>

</html>
