<div class="row">
  <div class="col-12">
    <div class="clearfix">
      <h3>{{.page.Title}}</h3>
      {{if ne .page.ImageURL ""}}
      <img src="{{.page.ImageURL}}" alt="placeholder" class="float-end se-3 mb-3 img-fluid rounded shadow-sm"
           style="max-width: 40%;">
      {{end}}
      {{.page.Content | safe}}
    </div>
    <hr>
  </div>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
    {{range .pages}}
    <div class="col">
      <a href="/pages/{{.ID}}">
        <div class="p-3 border bg-light">
          <div class="card">
            <div class="card-header">
              {{if ne .ImageURL ""}}
              <div class="ratio ratio-16x9">
                <img src="{{.ImageURL}}" class="card-img-top object-fit-cover rounded-top" alt="{{.Title}}">
              </div>
              {{end}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{.Title}}</h5>
              <p class="card-text">
                {{safe .Content 300}}
              </p>
              <a href="/pages/{{.ID}}" class="btn btn-primary">{{_ "Continue"}}</a>
            </div>
          </div>
        </div>
      </a>
    </div>
    {{end}}
  </div>
</div>




