<div class="row">
  <div class="col-12">
    <div class="clearfix">
      <h3>{{.page.Title}}</h3>
      {{if ne .page.ImageURL ""}}
      <img src="{{.page.ImageURL}}" alt="placeholder" class="float-end se-3 mb-3 img-fluid rounded shadow-sm"
           style="max-width: 40%;">
      {{end}}
      {{.page.Content | safe}}
    </div>
    <hr>
    <div class="row g-2">
      <div class="row">
        {{range .pages}}
        <div class="col-12 col-md-3">
          <div class="p-3 border bg-light">
            <div class="card" style="width: 18rem;">
              {{if ne .ImageURL ""}}
              <div class="ratio ratio-16x9">
                <img src="{{.ImageURL}}" class="card-img-top object-fit-cover rounded-top" alt="{{.Title}}">
              </div>
              {{end}}
              <div class="card-body">
                <h5 class="card-title">{{.Title}}</h5>
                <p class="card-text">
                  {{safe .Content 220}}
                </p>
                <a href="/pages/{{.ID}}" class="btn btn-primary">{{_ "Continue"}}</a>
              </div>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </div>
</div>



