<div class="row">
  <div class="col-12">
    <div class="clearfix">
      <h3>{{.page.Title}}</h3>
      {{if ne .page.ImageURL ""}}
      <img src="{{.page.ImageURL}}" alt="placeholder" class="float-end se-3 mb-3 img-fluid rounded shadow-sm"
           style="max-width: 40%;">
      {{end}}
      {{.page.Content | safe}}
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {{range .pages}}
      <a href="/pages/{{.ID}}" class="text-decoration-none">
        <div class="col">
          <div class="card xh-100">
            {{if ne .ImageURL ""}}
            <div class="ratio ratio-16x9">
              <img src="{{.ImageURL}}" class="card-img-top object-fit-cover rounded-top" alt="{{.Title}}">
            </div>
            {{end}}
            <div class="card-body">
              <h4 class="card-title ">
                <span class="badge text-bg-primary px-2 w-100">{{.Title}}</span>
              </h4>
              <p class="card-text">{{safe .Content 220}}</p>
              <button class="btn btn-primary">{{_ "Continue"}}</button>
            </div>
            <div class="card-footer">
            </div>
        </div>
      </a>
      {{end}}
    </div>
  </div>
</div>



